body{
    margin: 0;
}
header{
    padding:50px 10px;
    border-bottom:1px;
    background-color:#d5c1eb;
    color:#ffffff;
}
.page-header{
    color: #d5c1eb;
    font-size: 2.0rem;
}
#menu-bt{
    right: 30px;
	bottom: 30px;
}
.site-title  {
	color:#ffffff;	/*←文字色を白(#fff)に*/
     text-align: center;
    font-size: 1.8rem ;
}
a:hover {
	color: #ffa500;	/*←マウスオン時の文字色(#ffa500)に*/
}


footer {
    padding: 30px;
    text-align: center;
    font-size: .9rem;
    color: #777;
}